{%extends 'all-posts/base.html'%}

{% block content %}
{{block.super}}
<img src="https://media.giphy.com/media/uo6rcjwHSAFsQ/giphy.gif" alt="" height="100px">
<div style="  padding-top: 20px;" class="container">
        
        <div class="row">
                        
                <div class="col-md-6">
                        {% for photos_item in photos %}
                                <div class="card">
                                        <div class="card-title">
                                                <section> <img style="border-radius: 50% ;" class=" img-circle" src="{{ photos_item.profile.profile_pic.url}}" alt="" height="50px""> {{ photos_item.profile.first_name}}</section> 
                                        </div>
                                        
                                        <p>{{photos_item.image_caption | truncatechars:100 }}</p>
                                        
                                        <p href="#" style="text-align: center;"><img class="" src="{{photos_item.image.url}}" alt="pic"  height="450px" width="450"></p>
                                        
                                        <p style="font-size:40px"><i class="fa fa-heart-o" style="font-size:30px;"></i>        <i class="fa fa-comment-o" style="font-size:30px;"></i></p>
                                        
                                        
                                        
                                        <small style="font-family: 'Oregano', cursive;">Posted {{photos_item.posted_time|timesince}} ago</small>
                                </div>
                                <br>
                                <br>
                        {% endfor %}
                </div>
                <div class="col-md-6">
                              <h5><img  border="20" style="border-radius: 50% ;" class="img-circle" src="{{request.user.profiles_item.profile_pic.url}}" alt="" width="50px" height="50px"> {{request.user}}</h5> 
                        <div class="card">
                        {% for profiles_item in profiles %}
                                
                                <h5><img  border="20" style="border-radius: 50% ;" class="img-circle" src="{{profiles_item.profile_pic.url}}" alt="pic" width="50px" height="50px">  {{profiles_item.first_name}}</h5> 
                                <!-- <small style="font-family: 'Oregano', cursive;">Posted {{profiles_item.pub_date_created|timesince}} ago</small> -->
                        {% endfor %}
                </div>
                </div>
                </div>
        </div>
        

</div>
<script>
        
</script>
{% endblock %}