{%extends 'all-posts/base.html'%}

{% block content %}
{{block.super}}
<img src="https://media.giphy.com/media/uo6rcjwHSAFsQ/giphy.gif" alt="" height="100px">
<div style="  padding-top: 30px;" class="container">
        
        <div class="row">
                        
                <div class="col-md-7">
                        {% for photos_item in photos %}
                                <div class="card">
                                        <p>{{photos_item.image_caption}}</p>
                                <img src="{{photos_item.image.url}}" alt="pic" width="500px" height="500px">
                                </div>
                        {% endfor %}
                </div>
        </div>
        

</div>
{% endblock %}